<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
 
  <description>
    Tag library Test
  </description>
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>Taglib1</taglib-uri>
  		<taglib-location>/WEB-INF/tlds/MyTaglib1.tld</taglib-location>
  	</taglib>

  	<taglib>
  		<taglib-uri>/Taglib2</taglib-uri>
  		<taglib-location>/WEB-INF/tlds/MyTaglib2.tld</taglib-location>
  	</taglib>
  </jsp-config>

</web-app>